{{#if user}}
{{else}}
  <div class="jumbotron">
    <h1>MongoDB User Authentication</h1>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
      <a href="/asd" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        asd!
      </a>
    </p>
  </div>

{{/if}}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Polls</h3>
  </div>
  <div class="panel-body">
      {{#each polls}}
          <a href="/poll/{{this._id}}">{{this.title}}</a><br/>
      {{/each}}
    <!-- <p>Username: {{user.displayName}}</p>
    <p>Avatar: <img src="{{user.avatar}}"/></p> -->
  </div>
</div>
